/* Styling för själva rutan */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f9f9f9;
  
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem; /* default font size */
}

@media screen and (max-width: 600px) {
  /* adjust font size and margin for smaller screens */
  h1 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}


.country-info {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;

}


/* Styling för inputfältet */
input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  max-width: 500px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling för knappen */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

/* Styling för resultatet */
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  div {
    margin: 20px;
    padding: 10px;
  }

  input[type="text"] {
    width: 100%;
    max-width: 300px;
  }

  img {
    max-width: 300px;
  }

  p {
    font-size: 16px;
  }
}
